#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.examples {
  display: grid;
  gap: 1rem;
}

.example_layout {
  display: grid;
  padding: 1rem;
  width: 20rem;
}

.field_wrap {
  display: grid;
  gap: 1rem;
}

.field {
  display: grid;
  grid-template-columns: 1fr 12rem;
  gap: 1rem;
}

.error {
  color: red;
}

.display_internal_values {
  display: grid;
  gap: 0.5rem;
}